[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install --no-cache-dir -r requirements.txt"]

[start]
cmd = "uvicorn recommender_optimized:app --host 0.0.0.0 --port $PORT --workers 1"
